#container{
  width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  
}

form{
  height: 67%;
  width: 25%;
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px var(--color-shadow);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

form h1{
  font: 1.975rem 500 Roboto;
  color: var(--color-shadow)
}

form fieldset{
  border: 1px solid var(--color-text); 
  border-radius: 25px;
  padding: 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  color: var(--color-shadow);
}

form fieldset .input-block{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  font: 400 0.5rem Roboto;
}

form fieldset .input-block .input-field{
  display: flex;
  flex-direction: column;
  flex-direction: space-around;
  margin-bottom: 0.5rem;
}

form button{
  margin-top: 5px;
  border: 0;
  padding: 0.3rem;
  width: 20vh;
  font:  400 0.75rem Roboto;
  color: #ffff;
  background: linear-gradient(to right, var(--color-gradient-1), var(--color-gradient-2)
  , var(--color-gradient-3));
  transition: color 2s;
  border-radius: 25px;

}

form button:hover{
  background: linear-gradient(to left, var(--color-gradient-3), 
  var(--color-gradient-3), var(--color-gradient-4), var(--color-gradient-5));

}


form #routeLink{
  text-decoration: none;
  font: 400 0.875rem Roboto;
  color: var(--color-text)
}
