.main{
  margin-top: 5px;
  border: 0;
  padding: 0.3rem;
  width: 20vh;
  font:  400 0.75rem Roboto;
  color: #ffff;
  background: linear-gradient(to right, var(--color-gradient-1), var(--color-gradient-2)
  , var(--color-gradient-3));
  transition: color 2s;
  border-radius: 25px;

}

.main:hover{
  background: linear-gradient(to left, var(--color-gradient-3), 
  var(--color-gradient-3), var(--color-gradient-4), var(--color-gradient-5));


}